<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.google.maps.ws" />
    <bean id="googleApiBaseUrl" class="java.lang.String">
        <constructor-arg value="https://maps.googleapis.com/maps/api/place/search/json?location={0},{1}&amp;radius=1000&amp;types=food&amp;sensor=false&amp;key={2}"/>
    </bean>
    <bean id="googleApiKey" class="java.lang.String">
        <constructor-arg value="AIzaSyCg_4yaQqguT1frWcnvp_irsIo7ayYH85w"/>
    </bean>
</beans>